# Environment
env/

# Database
db.sqlite3

# Static files
static/

# Media files
media/

# Pycache
apps/accounts/__pycache__/
apps/accounts/migrations/__pycache__/
apps/reviews/__pycache__/
apps/reviews/migrations/__pycache__/
apps/stays/__pycache__/
apps/stays/migrations/__pycache__/
backend/__pycache__/
.vscode/settings.json
