# Environment
env/
venv/
backend/.env

# EC2 pem file
airbnb-clone.pem

# Database
db.sqlite3

# Static files
static/

# Media files
media/

# Pycache
*.pyc
*__pycache__/*

# VScode
.vscode/settings.json

# DS_Store
**/.DS_Store
