asgiref==3.2.7
certifi==2020.4.5.1
chardet==3.0.4
Django==3.0.5
django-debug-toolbar==2.2
django-environ==0.4.5
idna==2.9
Pillow==7.1.1
psycopg2==2.8.5
pytz==2019.3
requests==2.23.0
sqlparse==0.3.1
stripe==2.46.0
urllib3==1.25.9
