{% load static %}

<!-- Sign In Modal -->
<div class="modal fade text-dark" id="contactModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header mx-3 mt-3">
        <h5 class="modal-title">Sign In</h5>
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
          <form action="{% url 'landing' %}" method="post">
              {% csrf_token %}
          <div class="form-group">
            <label for="name">Email</label>
            <input type="email" class="form-control" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" />
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" />
          </div>
          <div class="modal-footer mx-3 mb-3">
            <button class="btn btn-danger btn-block" data-dismiss="modal">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer id="footer" class="py-3">
  <div class="container border-top pt-4">
    <div class="d-flex justify-content-between">
      <div class="copyright">
        <p>
          © 2020 By
          <a href="https://github.com/tuvo1106" class="text-muted">Tu Vo</a>
          &amp;
          <a href="https://github.com/rmiyazaki6499" class="text-muted"
            >Ryuichi Miyazaki</a
          >
        </p>
      </div>
      <div class="social">
        <a href="https://twitter.com/"
          ><i class="fab fa-twitter fa-lg px-2"></i
        ></a>
        <a href="https://facebook.com/"
          ><i class="fab fa-facebook fa-lg px-2"></i
        ></a>
        <a href="https://instagram.com/"
          ><i class="fab fa-instagram fa-lg px-2"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
