body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

#register .container,
#myTrips .container,
#city-places,
#world .world-inner,
#image-banner .image-banner-inner {
  padding-top: 75px;
}

.navbar {
  background-color: white;
  opacity: 0.9;
}

#signup-navlink {
  display: none;
}

#main-header h4,
#world h4 {
  letter-spacing: -0.05em;
}

.rounded {
  border-radius: 25px !important;
}

.fa-home,
.stars {
  color: red;
}

.brand {
  letter-spacing: 1px;
}

.green-stars {
  color: green;
}

#footer i {
  color: darkgray;
}

#footer a {
  text-decoration: none;
}

#main-header {
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
  margin-top: 90px;
}

.datepicker-01 {
  top: 100px !important;
}

.table-condensed {
  width: 250px;
  height: 250px;
  margin-left: 22px;
}

@media only screen and (max-width: 768px) {
  .social,
  #signup-button {
    display: none;
  }

  #signup-navlink {
    display: block;
  }

  #main-header {
    min-height: 500px !important;
  }
}
