body {
  font-family: "Montserrat", sans-serif;
}

#world .world-inner,
#image-banner .image-banner-inner {
  padding-top: 75px;
}

.navbar {
  background-color: white;
  opacity: 0.9;
}

#signup-navlink {
  display: none;
}

#world h4 {
  letter-spacing: -0.05em;
}

.rounded {
  border-radius: 25px !important;
}

.stars {
  color: red;
}

.green-stars {
  color: green;
}

#footer i {
  color: darkgray;
}

#footer a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .social,
  #signup-button {
    display: none;
  }

  #signup-navlink {
    display: block;
  }
}
