{% extends "index.html" %}

{% load static %}

{% block content %}

<div class='container'>
    <div class='row'>
        <h2>Stays in {{ city }}</h2>
        {% for stay in stays_list %}
        <div class='col'>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ stay.title }}</h5>
                    <h5 class="card-title">{{ stay.price }}</h5>
                    <p class="card-text">{{ stay.description|truncatewords:15 }}</p>
                </div>
            </div>
        {% endfor %}
</div>
</div>


<section id="city-places">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 py-3">
                <h3 class="font-weight-bold pt-3">Stays in Paris</h3>
                <!-- Stays -->
                <div class="row border-bottom py-4">
                    <div class="col-4">
                        <img
                            class="img-fluid"
                            src="https://source.unsplash.com/random/300x200"
                            alt=""
                            />
                    </div>
                    <div class="col-6">
                        <p class="my-0 text-muted">Entire apartment</p>
                        <a href=""><h5>St Lazare : 2 pièces refait à neuf - Bail mobilité</h5></a>
                        <p class="my-0">2 guests 1 bedroom 1 bed 1 bath</p>
                        <p class="my-0">Wifi * Kitchen * Heating * Washer</p>
                    </div>
                    <div class="col-2">
                        <div class="d-flex justify-content-end">
                            <div>
                                <span class="stars"><i class="fas fa-star"></i></span>
                                <small>4.75</small>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end"r">
                            <p>$75 / night</p>
                        </div>
                    </div>
                </div>
                <div class="row border-top border-bottom py-4">
                    <div class="col-4">
                        <img
                        class="img-fluid"
                               src="https://source.unsplash.com/random/301x200"
                                    alt=""
                                         />
                    </div>
                    <div class="col-6">
                        <p class="my-0 text-muted">Entire apartment</p>
                        <a href=""><h5>St Lazare : 2 pièces refait à neuf - Bail mobilité</h5></a>
                        <p class="my-0">2 guests 1 bedroom 1 bed 1 bath</p>
                        <p class="my-0">Wifi * Kitchen * Heating * Washer</p>
                    </div>
                    <div class="col-2">
                        <div class="d-flex justify-content-end">
                            <div>
                                <span class="stars"><i class="fas fa-star"></i></span>
                                <small>4.75</small>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end"r">
                            <p>$75 / night</p>
                        </div>
                    </div>
                </div>
                <div class="row border-top border-bottom py-4">
                    <div class="col-4">
                        <img
                            class="img-fluid"
                            src="https://source.unsplash.com/random/302x200"
                            alt=""
                            />
                    </div>
                    <div class="col-6">
                        <p class="my-0 text-muted">Entire apartment</p>
                        <a href=""><h5>St Lazare : 2 pièces refait à neuf - Bail mobilité</h5></a>
                        <p class="my-0">2 guests 1 bedroom 1 bed 1 bath</p>
                        <p class="my-0">Wifi * Kitchen * Heating * Washer</p>
                    </div>
                    <div class="col-2">
                        <div class="d-flex justify-content-end">
                            <div>
                                <span class="stars"><i class="fas fa-star"></i></span>
                                <small>4.75</small>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end"r">
                            <p>$75 / night</p>
                        </div>
                    </div>
                </div>
                <div class="row border-top border-bottom py-4">
                    <div class="col-4">
                        <img
                        class="img-fluid"
                               src="https://source.unsplash.com/random/303x200"
                                    alt=""
                                         />
                    </div>
                    <div class="col-6">
                        <p class="my-0 text-muted">Entire apartment</p>
                        <a href=""><h5>St Lazare : 2 pièces refait à neuf - Bail mobilité</h5></a>
                        <p class="my-0">2 guests 1 bedroom 1 bed 1 bath</p>
                        <p class="my-0">Wifi * Kitchen * Heating * Washer</p>
                    </div>
                    <div class="col-2">
                        <div class="d-flex justify-content-end">
                            <div>
                                <span class="stars"><i class="fas fa-star"></i></span>
                                <small>4.75</small>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end"r">
                            <p>$75 / night</p>
                        </div>
                    </div>
                </div>
                <div class="row border-top py-4">
                    <div class="col-4">
                        <img
                            class="img-fluid"
                            src="https://source.unsplash.com/random/304x200"
                            alt=""
                            />
                    </div>
                    <div class="col-6 text-muted">
                        <p class="my-0">Entire apartment</p>
                        <a href=""><h5>St Lazare : 2 pièces refait à neuf - Bail mobilité</h5></a>
                        <p class="my-0">2 guests 1 bedroom 1 bed 1 bath</p>
                        <p class="my-0">Wifi * Kitchen * Heating * Washer</p>
                    </div>
                    <div class="col-2">
                        <div class="d-flex justify-content-end">
                            <div>
                                <span class="stars"><i class="fas fa-star"></i></span>
                                <small>4.75</small>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end"r">
                            <p>$75 / night</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-center align-items-center pt-4">
                <div id="map" style="width: 675px; height: 1050px;"></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
