{% extends "index.html" %} {% load static %} {% block content %}

<section id="city-places">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6 py-3">
        <h3 class="font-weight-bold pt-3">
          Stays in <span id="search-city">{{city}}</span>
        </h3>
        <!-- Stays -->
        {% for stay in stays_list %}
        <div class="row border-bottom py-4">
          <div class="col-4">
            <a href="{{ stay.get_absolute_url }}">
              <img class="img-fluid" src="{{stay.main_image}}" />
            </a>
          </div>
          <div class="col-6">
            <p class="my-0 text-muted">Entire apartment</p>
            <a href="{{ stay.get_absolute_url }}"><h5>{{stay.title}}</h5></a>
            <p class="my-0">
              <span class="guests">{{stay.guests}}</span> guests
              <span>{{stay.bedroom}}</span> bedrooms
              <span>{{stay.beds}}</span> beds <span>{{stay.baths}}</span> bath
            </p>
            <p class="my-0">Wifi * Kitchen * Heating * Washer</p>
          </div>
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <div>
                <span class="stars"><i class="fas fa-star"></i></span>
                <small>4.75</small>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <p>${{stay.price}} / night</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div
        class="col-lg-6 d-flex justify-content-center align-items-center pt-4"
      >
        <div id="map" style="width: 675px; height: 1050px;"></div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
