{% extends "index.html" %} {% load static %} {% block content %}

<!-- World panel -->
<section id="world" class="py-5">
  <div class="world-inner container">
    <h4 class="py-3">Travel the world with Airbnb</h4>
    <div class="card-deck">
      <div class="card rounded">
        <a href="{% url 'places' city='Paris' %}">
          <img
            src="https://source.unsplash.com/random/300x200"
            alt=""
            class="img-fluid card-img-top"
          />
        </a>
        <div class="card-body">
          <a href="{% url 'places' city='Paris' %}">
            <small class="text-muted">Paris</small>
          </a>
        </div>
      </div>
      <div class="card rounded">
        <a href="{% url 'places' city='New York' %}">
          <img
            src="https://source.unsplash.com/random/301x201"
            alt=""
            class="img-fluid card-img-top"
          />
        </a>
        <div class="card-body">
          <a href="{% url 'places' city='New York' %}">
            <small class="text-muted">New York</small>
          </a>
        </div>
      </div>
      <div class="w-100 d-none d-sm-block d-md-none py-2">
        <!-- wrap every 2 on sm-->
      </div>
      <div class="card rounded">
        <a href="{% url 'places' city='Sydney' %}">
          <img
            src="https://source.unsplash.com/random/302x202"
            alt=""
            class="img-fluid card-img-top"
          />
        </a>
        <div class="card-body">
          <a href="{% url 'places' city='Sydney' %}">
            <small class="text-muted">Sydney</small>
          </a>
        </div>
      </div>
      <div class="w-100 d-none d-md-block d-lg-none py-2">
        <!-- wrap every 3 on md-->
      </div>
      <div class="card rounded">
        <a href="{% url 'places' city='Cape Town' %}">
          <img
            src="https://source.unsplash.com/random/303x203"
            alt=""
            class="img-fluid card-img-top"
          />
        </a>
        <div class="card-body">
          <a href="{% url 'places' city='Cape Town' %}">
            <small class="text-muted">Cape Town</small>
          </a>
        </div>
      </div>
      <div class="w-100 d-none d-sm-block d-md-none py-2">
        <!-- wrap every 2 on sm-->
      </div>
      <div class="w-100 d-none d-lg-block d-xl-none py-2">
        <!-- wrap every 4 on lg-->
      </div>
      <div class="card rounded">
        <a href="{% url 'places' city='Tokyo' %}">
          <img
            src="https://source.unsplash.com/random/304x204"
            alt=""
            class="img-fluid card-img-top"
          />
        </a>
        <div class="card-body">
          <a href="{% url 'places' city='Tokyo' %}">
            <small class="text-muted">Tokyo</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Top places to Stay -->
<section id="top-places" class="py-3">
  <div class="container">
    <h5>Top-rated places to stay</h5>
    <p>Explore some of the best-reviewed stays in the world</p>
    <div class="card-deck">
      {% for stay in featured_stays_list %}
        <div class="card rounded">
          <a href="">
            <img
              src="{{ stay.main_image }}"
              class="img-fluid card-img-top"
            />
          </a>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <small>{{ stay.city }}</small>
              <div>
                <span class="stars"><i class="fas fa-star"></i></span>
                <small>4.75</small>
              </div>
            </div>
            <a href="">
              <p>{{ stay.title }}</p>
            </a>
            <p><strong>${{stay.price}}</strong> / night</p>
          </div>
        </div>
        {% if forloop.counter|divisibleby:2 %}
          <div class="w-100 d-none d-sm-block d-md-none py-2">
          </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
          <div class="w-100 d-none d-md-block d-lg-none py-2">
          </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
          <div class="w-100 d-none d-lg-block d-xl-none py-2">
          </div> 
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<!-- Places to stay -->
<section id="places-to-stay" class="py-3">
  <div class="container">
    <h5 class="py-2">Places to stay in San Francisco</h5>
    <div class="card-deck">
      {% for stay in sf_stays_list %}
      <div class="card rounded">
        <a href="">
          <img
          src="{{ stay.main_image }}""
          alt=""
          class="img-fluid card-img-top"
          />
        </a>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <small>{{ stay.city }}</small>
            <div>
              <span class="stars"><i class="fas fa-star"></i></span>
              <small>4.75</small>
            </div>
          </div>
          <a href="">
            <p>{{ stay.title }}</p>
          </a>
          <p><strong>${{stay.price}}</strong> / night</p>
        </div>
      </div>
      {% if forloop.counter|divisibleby:2 %}
        <div class="w-100 d-none d-sm-block d-md-none py-2">
        </div>
      {% endif %}
      {% if forloop.counter|divisibleby:3 %}
        <div class="w-100 d-none d-md-block d-lg-none py-2">
        </div>
      {% endif %}
      {% if forloop.counter|divisibleby:4 %}
        <div class="w-100 d-none d-lg-block d-xl-none py-2">
        </div> 
      {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock %}
  