{% extends "index.html" %}
{% load static %}

{% block content %}
        <!-- World panel -->
        <section id="world" class="py-5">
            <div class="world-inner container">
                <h4 class="py-3">Travel the world with Airbnb</h4>
                <div class="card-deck">
                    <div class="card rounded">
                        <img
                            src="https://source.unsplash.com/random/300x200"
                            alt=""
                            class="img-fluid card-img-top"
                            />
                        <div class="card-body">
                            <small class="text-muted">Paris</small>
                        </div>
                    </div>
                    <div class="card rounded">
                        <img
                            src="https://source.unsplash.com/random/301x201"
                            alt=""
                            class="img-fluid card-img-top"
                            />
                        <div class="card-body">
                            <small class="text-muted">New York</small>
                        </div>
                    </div>

                    <div class="w-100 d-none d-sm-block d-md-none py-2"><!-- wrap every 2 on sm--></div>

                    <div class="card rounded">
                        <img
                            src="https://source.unsplash.com/random/302x202"
                            alt=""
                            class="img-fluid card-img-top"
                            />
                        <div class="card-body">
                            <small class="text-muted">Sydney</small>
                        </div>
                    </div>

                    <div class="w-100 d-none d-md-block d-lg-none py-2"><!-- wrap every 3 on md--></div>

                    <div class="card rounded">
                        <img
                            src="https://source.unsplash.com/random/303x203"
                            alt=""
                            class="img-fluid card-img-top"
                            />
                        <div class="card-body">
                            <small class="text-muted">Cape Town</small>
                        </div>
                    </div>
                    <div class="w-100 d-none d-sm-block d-md-none py-2"><!-- wrap every 2 on sm--></div>
                    <div class="w-100 d-none d-lg-block d-xl-none py-2"><!-- wrap every 4 on lg--></div>
                    <div class="card rounded">
                        <img
                            src="https://source.unsplash.com/random/304x204"
                            alt=""
                            class="img-fluid card-img-top"
                            />
                        <div class="card-body">
                            <small class="text-muted">Tokyo</small>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>

        <!-- Top places to Stay -->
        <section id="top-places" class="py-3">
            <div class="container">
                <h5>Top-rated places to stay</h5>
                <p>Explore some of the best-reviewed stays in the world</p>
                <div class=""></div>
                <div class="card-deck">
                    <div class="card rounded">
                        <img
                            src="https://source.unsplash.com/random/305x205"
                            alt=""
                            class="img-fluid card-img-top"
                            />
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <small>Isla Mujeres</small>
                                <div>
                                    <span class="stars"><i class="fas fa-star"></i></span>
                                    <small>4.75</small>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet.</p>
                            <p><strong>$299</strong> / night</p>
                        </div>
                    </div>
                    <div class="card rounded">
                        <img
                            src="https://source.unsplash.com/random/306x206"
                            alt=""
                            class="img-fluid card-img-top"
                            />
                        <div class="card-body">
                            <div class="d-flex justify-content-between pb-2 align-items-center">
                                <div class="d-flex mx-0 align-items-center">
                                    <span class="btn btn-sm btn-outline-secondary ml-0 mr-1"><small> Superhost</small></span>
                                    <small class="mx-0">Oakland</small>
                                </div>
                                <div>
                                    <span class="stars"><i class="fas fa-star"></i></span>
                                    <small>4.75</small>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet.</p>
                            <p><strong>$299</strong> / night</p>
                        </div>
                    </div>

                    <div class="w-100 d-none d-sm-block d-md-none py-2"><!-- wrap every 2 on sm--></div>

                    <div class="card rounded">
                        <img
                            src="https://source.unsplash.com/random/307x207"
                            alt=""
                            class="img-fluid card-img-top"
                            />
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <small>Isla Mujeres</small>
                                <div>
                                    <span class="stars"><i class="fas fa-star"></i></span>
                                    <small>4.75</small>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                            <p><strong>$299</strong> / night</p>
                        </div>
                    </div>

                    <div class="w-100 d-none d-md-block d-lg-none py-2"><!-- wrap every 3 on md--></div>

                    <div class="card rounded">
                        <img
                            src="https://source.unsplash.com/random/308x208"
                            alt=""
                            class="img-fluid card-img-top"
                            />
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <small>Isla Mujeres</small>
                                <div>
                                    <span class="stars"><i class="fas fa-star"></i></span>
                                    <small>4.75</small>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet.</p>
                            <p><strong>$299</strong> / night</p>
                        </div>
                    </div>
                    <div class="w-100 d-none d-sm-block d-md-none py-2"><!-- wrap every 2 on sm--></div>
                    <div class="w-100 d-none d-lg-block d-xl-none py-2"><!-- wrap every 4 on lg--></div>
                </div>
            </div>
        </section>

        <!-- Places to stay -->
        <section id="places-to-stay" class="py-3">
            <div class="container">
                <h5 class="py-2">Places to stay in San Francisco</h5>
                <div class="card-deck">
                    <div class="card rounded">
                        <img
                            src="https://source.unsplash.com/random/309x209"
                            alt=""
                            class="img-fluid card-img-top"
                            />
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <small>Isla Mujeres</small>
                                <div>
                                    <span class="stars"><i class="fas fa-star"></i></span>
                                    <small>4.75</small>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet.</p>
                            <p><strong>$299</strong> / night</p>
                        </div>
                    </div>
                    <div class="card rounded">
                        <img
                            src="https://source.unsplash.com/random/310x210"
                            alt=""
                            class="img-fluid card-img-top"
                            />
                        <div class="card-body">
                            <div class="d-flex justify-content-between pb-2 align-items-center">
                                <small class="mx-0">Oakland</small>
                                <div>
                                    <span class="stars"><i class="fas fa-star"></i></span>
                                    <small>4.75</small>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet.</p>
                            <p><strong>$299</strong> / night</p>
                        </div>
                    </div>

                    <div class="w-100 d-none d-sm-block d-md-none py-2"><!-- wrap every 2 on sm--></div>

                    <div class="card rounded">
                        <img
                            src="https://source.unsplash.com/random/311x211"
                            alt=""
                            class="img-fluid card-img-top"
                            />
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex mx-0 pb-2  align-items-center">
                                    <span class="btn btn-sm btn-outline-danger ml-0 mr-1"><small>Plus</small></span>
                                    <small class="mx-0">Oakland</small>
                                </div>
                                <div>
                                    <span class="stars"><i class="fas fa-star"></i></span>
                                    <small>4.75</small>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                            <p><strong>$299</strong> / night</p>
                        </div>
                    </div>

                    <div class="w-100 d-none d-md-block d-lg-none py-2"><!-- wrap every 3 on md--></div>

                    <div class="card rounded">
                        <img
                            src="https://source.unsplash.com/random/312x212"
                            alt=""
                            class="img-fluid card-img-top"
                            />
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <small>Isla Mujeres</small>
                                <div>
                                    <span class="stars"><i class="fas fa-star"></i></span>
                                    <small>4.75</small>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet.</p>
                            <p><strong>$299</strong> / night</p>
                        </div>
                        <div class="w-100 d-none d-sm-block d-md-none py-2"><!-- wrap every 2 on sm--></div>
                        <div class="w-100 d-none d-lg-block d-xl-none py-2"><!-- wrap every 4 on lg--></div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}

