{% extends "index.html" %} {% load static %} {% block content %}

<section id="main-header" class="py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 py-5 px-3 mx-5 bg-light">
        <h4 class="pb-3 font-weight-bold">
          Book unique places to stay and things to do.
        </h4>
        <div class="card">
          <div class="card-body">
            {% include 'search/partials/search_form.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
