{% extends "index.html" %} {% load static %} {% block content %}

<!-- Image banner -->
<section id="image-banner" class="py-5">
  <div class="image-banner-inner container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <img
          src="https://source.unsplash.com/random/500x500"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-md-5">
        <img
          src="https://source.unsplash.com/random/501x501"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>

<!-- Stay details -->
<section id="details" class="py-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1>{{ stay.title }}</h1>
        <p>
          {{ stay.city }}, {% if stay.country == "USA"%} <span>{{stay.state}}, </span>{% endif%}
          {{ stay.country }}
        </p>
        <p>
          <span id="guests">{{ stay.guests }}</span> guest{% if stay.guests > 1%}s{% endif %}
          <span id="beds">{{ stay.beds }}</span> bed{% if stay.beds > 1%}s{% endif %}
          <span id="baths">{{ stay.baths }}</span> bath{% if stay.baths > 1%}s{% endif %}
        </p>
        <hr />
        <p>{{ stay.description }}</p>
        <h5>Amenities</h5>
        <!-- Amenities -->
        <div class="row py-2">
          {% for amenity in stay.amenities.all %}
          <div class="col-6"><i class="{{amenity.icon}}"></i> {{amenity.name}}</div>
          {% endfor %}
        </div>
        <hr />
        <h4>Reviews</h4>
        <div class="d-flex">
          <i class="fas fa-star green-stars mx-1"></i>
          <p class="mx-1">{{ stay.ratings.average_rating | floatformat:2 }}</p>
          <p class="border-left ml-3 pl-3">({{ stay.ratings.number_of_reviews }} review{% if stay.ratings.number_of_reviews > 1 %}s{% endif %})</p>
        </div>
        <div class="row">
          <div class="col">Cleanliness</div>
          <div class="col">
            <div class="progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: {{stay.ratings.average_cleanliness}}%;"
                aria-valuenow="{{stay.ratings.average_cleanliness}}"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">Location </div>
          <div class="col">
            <div class="progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: {{stay.ratings.average_location}}%;"
                aria-valuenow="{{stay.ratings.average_location}}"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">Hospitality</div>
          <div class="col">
            <div class="progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: {{stay.ratings.average_hospitality}}%;"
                aria-valuenow="{{stay.ratings.average_hospitality}}"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
        <hr />
        {% for review in stay.reviews.all %}
          <div class="review-item">
            <div class="d-flex align-items-center py-2">
                {% if review.user.user_profile %}
              <img
                  src= {% static review.user.user_profile %} 
                width="40"
                height="40"
                class="img-fluid rounded circle"
              />
              {% endif %}
              <span class="font-weight-bold px-2">{{ review.user.first_name }}</span>
              <span>{{ review.created_at | date:'F Y' }}</span>
            </div>
            <p>
              {{ review.body }}
            </p>
          </div>
        {% endfor %}
      </div>
      <!-- Reserve form -->
      <div class="col-md-4">
        <div class="card py-4">
          <div class="card-body">
            <h5>
              <span class="font-weight-bold">${{ stay.price | stringformat:'d' }}</span> per night
            </h5>
            <span class="stars"><i class="fas fa-star"></i></span> {{ stay.ratings.average_rating | floatformat:2 }} 
            <span>({{ stay.ratings.number_of_reviews }} reviews)</span>
            <hr />
            {% include 'stays/partials/reserve_form.html' %}
            {% include 'partials/alerts.html' %}
            <p class="text-center text-muted">You won’t be charged yet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
