{% extends "index.html" %} {% load static %} {% block content %}

<!-- Image banner -->
<section id="image-banner" class="py-5">
  <div class="image-banner-inner container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <img
          src="https://source.unsplash.com/random/500x500"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-md-5">
        <img
          src="https://source.unsplash.com/random/501x501"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>

<!-- Stay details -->
<section id="details" class="py-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1>{{ stay.title }}</h1>
        <p>
          {{ stay.city }}, {% if stay.country == "USA"%}
          <span>{{stay.state}}, </span>
          {% endif%} {{ stay.country }}
        </p>
        <p>
          <span id="guests">{{ stay.guests }}</span> guest{% if stay.guests > 1%}s{% endif %}
          <span id="beds">{{ stay.beds }}</span> bed{% if stay.beds > 1%}s{% endif %}
          <span id="baths">{{ stay.baths }}</span> bath{% if stay.baths > 1%}s{% endif %}
        </p>
        <hr />
        <p>{{ stay.description }}</p>
        <h5>Amenities</h5>
        <!-- A list of Amenities -->
        <div class="row py-2">
          {% for amenity in stay.amenities.all %}
            {% if amenity.name == "Wifi" %}
              <div class="col-6"><i class="fas fa-wifi mr-2"></i> Wifi</div>
            {% endif %}
            {% if amenity.name == "Parking" %}
              <div class="col-6"><i class="fas fa-parking mr-2"></i> Parking</div>
            {% endif %}
            {% if amenity.name == "Breakfast" %}
              <div class="col-6"><i class="fas fa-coffee mr-2"></i> Breakfast</div>
            {% endif %}
            {% if amenity.name == "Shower" %}
              <div class="col-6"><i class="fas fa-shower mr-2"></i> Showers</div>
            {% endif %}
          {% endfor %}
        </div>
        <hr />
        <h4>Reviews</h4>
        <div class="d-flex">
          <i class="fas fa-star green-stars mx-1"></i>
          <p class="mx-1">{{stay.average_rating | floatformat:2}}</p>
          <p class="border-left ml-3 pl-3">({{ stay.number_of_reviews }} review{% if stay.number_of_reviews > 1 %}s{% endif %})</p>
        </div>
        <div class="row">
          <div class="col">Cleanliness</div>
          <div class="col">
            <div class="progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: 60%;"
                aria-valuenow="{{stay.cleanliness}}"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">Location</div>
          <div class="col">
            <div class="progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: 75%;"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">Hospitality</div>
          <div class="col">
            <div class="progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: 80%;"
                aria-valuenow="80"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
        <hr />
        {% for review in stay.reviews.all %}
        <div class="review-item">
          <div class="d-flex align-items-center py-2">
            <img
              src={% static 'img/person1.jpg' %}
              width="40"
              height="40"
              alt=""
              class="img-fluid rounded circle"
            />
            <span class="font-weight-bold px-2">{{ review.user.first_name }}</span>
            <span>{{ review.created_at.date }}</span>
          </div>
          <p>
            {{ review.body }}
          </p>
        </div>
        {% endfor %}
        </div>
      <!-- Reserve form -->
      <div class="col-md-4">
        <div class="card py-4">
          <div class="card-body">
            <h5>
              <span class="price font-weight-bold"
                >${{ stay.price | stringformat:'d' }}
              </span>
              per night
            </h5>
            <span class="stars"><i class="fas fa-star"></i></span> {{stay.average_rating | floatformat:2 }}
            <span>({{ stay.number_of_reviews }} reviews)</span>
            <hr />
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Dates" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <select class="form-control">
                    <option>1 guest</option>
                    <option>2 guest</option>
                    <option>3 guest</option>
                    <option>4 guest</option>
                    <option>5 guest</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    type="submit"
                    value="Reserve"
                    class="btn btn-danger btn-block"
                  />
                </div>
              </div>
            </div>
            <p class="text-center text-muted">You won’t be charged yet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
