<form method="GET" class="form search-form" action='{% url "search:query" %}'>
  <div class="form-group">
    <label for="where" class="font-weight-bold">Where</label>
    <input
      type="search"
      class="form-control"
      placeholder="Anywhere"
      name='q'
      value='{{ request.GET.q }}'
    />
  </div>
  <!-- Datepicker -->
  <div id="datepicker-container" class="form-group">
    <div class="d-flex font-weight-bold justify-content-between">
      <label for="check-in">Check In</label>
      <label for="check-in">Check Out</label>
    </div>
    <div class="input-daterange input-group" id="datepicker">
      <input
        type="text"
        class="input-sm form-control"
        name="start"
      />
      <span class="input-group-addon mx-2">to</span>
      <input type="text" class="input-sm form-control" name="end" />
    </div>
  </div>
  <div class="form-group">
    <select class="form-control">
      <option>1 guest</option>
      <option>2 guest</option>
      <option>3 guest</option>
      <option>4 guest</option>
      <option>5 guest</option>
    </select>
  </div>
  <div class="form-group py-2">
    <input
      type="submit"
      value="submit"
      class="btn btn-outline-danger btn-block"
    />
  </div>
</form>
