<form action='' method="POST">
    {% csrf_token %}
    <input type="hidden" name="stay" value={{stay.id}} />
    <div class="form-group datepicker-detail">
        <div class="d-flex font-weight-bold justify-content-between">
            <label for="check-in">Check In</label>
            <label for="check-in">Check Out</label>
        </div>
        <div class="input-daterange input-group">
            <input type="text" class="input-sm form-control datepicker-input" name="start" required />
            <span class="input-group-addon mx-2">to</span>
            <input type="text" class="input-sm form-control datepicker-input" name="end" required />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <select class="form-control" name="guests">
                    <option value="1">1 guest</option>
                    <option value="2">2 guests</option>
                    <option value="3">3 guests</option>
                    <option value="4">4 guests</option>
                    <option value="5">5 guests</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-danger btn-block">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ key }}"
                    data-description="TEST CARD # 4242 4242 4242 4242"
                    data-amount=""
                    data-locale="auto">
                </script>
                <script>
                    document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                </script>
                Reserve
                </button>
            </div>
        </div>
    </div>
<!-- </form> -->         
